---
---

<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registry Management for the UNC Kidney Center</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<div class="container">
			
		<h1>Registry Management for the UNC Kidney Center</h1>


		<div class="row">
			<div class="col-md-6">

				<h2>Introduction</h2>

				{% capture introduction %}{% include introduction.md %}{% endcapture %}
				{{ introduction | markdownify }}

			</div>

			<div class="col-md-6">
				<h2>The Team</h2>

				{% capture the_team %}{% include the_team.md %}{% endcapture %}
				{{ the_team | markdownify }}

			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">

				<h2>User Stories</h2>

				{% capture user_stories %}{% include user_stories.md %}{% endcapture %}
				{{ user_stories | markdownify }}
				
			</div>

			<div class="col-md-6">

				<h2>Personas</h2>

				{% capture personas %}{% include personas.md %}{% endcapture %}
				{{ personas | markdownify }}
				
			</div>
		</div> 

		<div class="row">
			<div class="col-md-12">
				<h2>Use Cases</h2>

				{% capture use_cases %}{% include use_cases.md %}{% endcapture %}
				{{ use_cases | markdownify }}
				
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
			
				<h2>Schedule of Meetings</h2>

				{% capture schedule_of_meetings %}{% include schedule_of_meetings.md %}{% endcapture %}
				{{ schedule_of_meetings | markdownify }}
					
			</div>

			<div class="col-md-6">

				<h2>Journal of Decisions</h2>

				{% capture journal_of_decisions %}{% include journal_of_decisions.md %}{% endcapture %}
				{{ journal_of_decisions | markdownify }}
				
			</div>
		</div>


</body>

</html>