body{
	overflow:hidden;
	background-color:#E3E3E3;
	font:15px verdana;
	
}

#contain{
	position:absolute;
	width:100%;
	height:600px;
	top:50%;
	margin-top:-300px;
	left:0px;
	background-color:#BFBFBF;
}

#text{
	width:80%;
	margin-left:170px;
	height:500px;
	left:0px;
	background-color:none;
}

#header{
	width:350px;
	font-size: 18px;
	color: #8F8F8F;
	font-weight: bold;
	font-style: italic;
	font-family: verdana;
	border-bottom: 1px dotted #EBEBEB;
	padding: 0px;
	text-align: left;
	letter-spacing: 2px;
}

#main{
	position:relative;
	height:510px;
	overflow:auto;
}

#title{
	font:35px verdana;
	letter-spacing:-2px;
	color:#FFF;
	line-height:70px;
}

#description{
	float:left;
	padding-right:10px;
width:350px;
height:100%;
	
}

#contact{
	position:relative;
	float:right;
	top:0px;
	padding-left:10px;
width:350px;
height:100%;
}
